<script setup lang="ts">
import WelcomeItem from './WelcomeItem.vue'

</script>

<template>
  <WelcomeItem>
    <template #icon>
      <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M3.75 1a.75.75 0 0 0 0 1.5h6.5a3.25 3.25 0 0 1 3.25 3.25V9.5h-.75a.75.75 0 0 0 0 1.5H15V5.75A4.75 4.75 0 0 0 10.25 1h-6.5ZM13 14.25a.75.75 0 0 1-.75.75h-6.5A4.75 4.75 0 0 1 1 10.25V5h2.25a.75.75 0 0 1 0 1.5H2.5v3.75a3.25 3.25 0 0 0 3.25 3.25h6.5a.75.75 0 0 1 .75.75ZM6.22 5.22a.75.75 0 0 1 1.06 0l2.25 2.25.53.53-.53.53-2.25 2.25a.75.75 0 1 1-1.06-1.06L7.94 8 6.22 6.28a.75.75 0 0 1 0-1.06Z"
          fill="#000" />
      </svg>
    </template>
    <template #heading>Build, Test, Deploy</template>

    Start with an overview of the project and CI pipeline.
  </WelcomeItem>

  <WelcomeItem>
    <template #icon>
      <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M10.103 1.529 8 0 5.897 1.529l-2.6-.001L2.496 4 .392 5.528 1.196 8l-.804 2.472L2.495 12l.803 2.473 2.6-.001L8 16l2.103-1.529 2.6.001.802-2.473 2.103-1.527L14.804 8l.804-2.472L13.505 4l-.803-2.473-2.6.001Zm1.51 1.5H9.614l-.395-.287L8 1.855l-1.22.887-.395.287H4.387l-.465 1.435-.15.464-.395.287-1.222.886.467 1.435.151.464-.15.464L2.154 9.9l1.222.886.395.287.15.464.466 1.436 1.509-.001h.488l.395.287 1.22.887 1.22-.887.395-.287h1.998l.465-1.435.15-.464.395-.287 1.222-.886-.467-1.435-.15-.465.15-.464.467-1.435-1.22-.886-.396-.287-.15-.464-.466-1.436ZM9 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm-.25-6.25a.75.75 0 0 0-1.5 0v3.5a.75.75 0 0 0 1.5 0v-3.5Z"
          fill="#000" />
      </svg>
    </template>
    <template #heading>SAST</template>

    Add <a href="https://docs.gitlab.com/ee/user/application_security/sast/" target="_blank" rel="noopener">Static
      Application Security Tests</a> via GitLab's <a href="https://docs.gitlab.com/ee/topics/autodevops/" target="_blank"
      rel="noopener">AutoDevOps</a> template:
    <ul>
      <li><a href="https://gitlab.com/gitlab-org/security-products/analyzers/semgrep" target="_blank"
          rel="noopener">semgrep-sast</a></li>
      <li><a href="https://gitlab.com/gitlab-org/security-products/analyzers/nodejs-scan" target="_blank"
          rel="noopener">nodejs-scan</a></li>
    </ul>
  </WelcomeItem>

  <WelcomeItem>
    <template #icon>
      <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M2.5 5.4V3.132l4.75-1.357v11.608l-1.782-1.528A8.5 8.5 0 0 1 2.5 5.401Zm6.25 7.982 1.782-1.528A8.5 8.5 0 0 0 13.5 5.401V3.13L8.75 1.774v11.608ZM1 2l7-2 7 2v3.4a10 10 0 0 1-3.492 7.593L8 16l-3.508-3.007A10 10 0 0 1 1 5.401V2Z"
          fill="#000" />
      </svg>
    </template>
    <template #heading>Container + Dependency Scanning</template>

    Add <a href="https://docs.gitlab.com/ee/user/application_security/container_scanning/" target="_blank"
      rel="noopener">Container</a> and <a href="https://docs.gitlab.com/ee/user/application_security/dependency_scanning/"
      target="_blank" rel="noopener">Dependency</a> Scanning using CI templates. The underlying technologies are:
    <ul>
      <li><a href="https://github.com/aquasecurity/trivy" target="_blank" rel="noopener">Trivy</a></li>
      <li><a href="https://github.com/anchore/grype" target="_blank" rel="noopener">Grype</a></li>
    </ul>
    The list of platforms that Dependency Scanning supports is <a
      href="https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#supported-languages-and-package-managers"
      target="_blank" rel="noopener">here</a>.
  </WelcomeItem>

  <WelcomeItem>
    <template #icon>
      <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="m16 .776.027-.803-.803.027-1.309.046A10.75 10.75 0 0 0 5.753 4.25H3.667A2.75 2.75 0 0 0 .962 6.504l-.8 4.36L0 11.75h2.69l1.56 1.56V16l.885-.162 4.36-.8a2.75 2.75 0 0 0 2.255-2.705v-2.086a10.75 10.75 0 0 0 4.204-8.162L16 .775ZM9.348 9.988l-4.2 2.1-1.235-1.236 2.1-4.2a9.25 9.25 0 0 1 7.954-5.107l.506-.018-.018.506a9.25 9.25 0 0 1-5.107 7.955ZM5.75 14.2v-.736l4.268-2.135.232-.116v1.12a1.25 1.25 0 0 1-1.025 1.23L5.75 14.2Zm-3.214-3.95 2.135-4.268.115-.232h-1.12a1.25 1.25 0 0 0-1.229 1.025L1.8 10.25h.736ZM10.5 6a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0ZM12 6a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"
          fill="#000" />
      </svg>
    </template>
    <template #heading>Release with Evidence</template>

    Create a <a href="https://docs.gitlab.com/ee/user/project/releases/" target="_blank" rel="noopener">Release</a> when a
    <a href="https://docs.gitlab.com/ee/topics/git/tags.html" target="_blank" rel="noopener">git tag</a> is pushed, with
    automatically collected <a href="https://docs.gitlab.com/ee/user/project/releases/#release-evidence" target="_blank"
      rel="noopener">release evidence</a>. Include additional scan and test results via the <a
      href="https://docs.gitlab.com/ee/user/packages/generic_packages/" target="_blank" rel="noopener">Generic Package
      Repository</a>.
  </WelcomeItem>

  <WelcomeItem>
    <template #icon>
      <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M5.248 2.042a.75.75 0 0 0-.933.403L2.513 6.5H.75a.75.75 0 1 0 0 1.5h2.233a.76.76 0 0 0 .033 0H15.25a.75.75 0 0 0 0-1.5h-1.763l-1.802-4.055a.75.75 0 0 0-.933-.403L8 3.005l-2.752-.963ZM11.846 6.5l-1.25-2.814-2.348.822a.75.75 0 0 1-.496 0l-2.347-.822L4.155 6.5h7.69Zm-6.346 6a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm0 1.5A2.5 2.5 0 0 0 8 11.5a2.5 2.5 0 0 0 5 0h.25a.75.75 0 0 0 0-1.5h-.75a2.496 2.496 0 0 0-2-1c-.818 0-1.544.393-2 1h-1a2.496 2.496 0 0 0-2-1c-.818 0-1.544.393-2 1h-.75a.75.75 0 0 0 0 1.5H3A2.5 2.5 0 0 0 5.5 14Zm5-1.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z"
          fill="#000" />
      </svg>
    </template>
    <template #heading>DAST</template>

    Add a <a href="https://docs.gitlab.com/ee/user/application_security/dast/" target="_blank" rel="noopener">Dynamic
      Application Security Test</a> job to the pipeline.
  </WelcomeItem>

  <WelcomeItem>
    <template #icon>
      <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M9 2.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm1.45-.5a2.5 2.5 0 0 0-4.9 0H3a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-2.55ZM8 5H5.5V3.5h-2v11h9v-11h-2V5H8Zm1 7a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm-.25-4.75a.75.75 0 0 0-1.5 0v2a.75.75 0 0 0 1.5 0v-2Z"
          fill="#000" />
      </svg>
    </template>
    <template #heading>Compliance</template>

    Add a <a href="https://docs.gitlab.com/ee/user/application_security/policies/scan-execution-policies.html"
      target="_blank" rel="noopener">Scan Execution Policy</a> to enforce scanning jobs for every pipeline, then add a <a
      href="https://docs.gitlab.com/ee/user/application_security/policies/scan-result-policies.html" target="_blank"
      rel="noopener">Scan Result Policy</a> to require approval for merge requests with too many open vulnerabilities.
  </WelcomeItem>
</template>

<style>
svg {
  width: 30px;
  height: 30px;
}

path {
  fill: #A2A1A6;
}
</style>